div.outer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

div.left {
  display: flex;
  flex: 3 1 0;
  justify-content: flex-start;
  align-items: center;
}

div.right {
  display: flex;
  flex: 1 1 0;
  justify-content: flex-end;
  align-items: center;
}

span.clickable {
  cursor: pointer;
}

span.blocked {
  cursor: no-drop;
}