<div class="outer">
  <div class="left">
    <input [(ngModel)]="skill.name">
    <app-grader [(grade)]="skill.grade"></app-grader>
  </div>
  <div class="right">
    <span (click)="onClick()"
          [ngClass]="ability"
          class="btn">Add skill</span>
  </div>
</div>