div.outer {
  display: flex;
  flex-direction: column;
}

div.title {
  text-transform: uppercase;
}

app-adder {
  margin: 10px 0 30px 0;
}

app-setter:nth-child(odd) {
  background-color: ghostwhite;
}