<div class="outer">
  <div class="title">Skills</div>
  <app-adder (addition)="onAddition($event)"></app-adder>

  <!-- todo Verify why indexing is required. -->
  <app-setter *ngFor="let record of records; let i = index;"
              [(setting)]="records[i]"
              (removal)="onRemoval(i)"></app-setter>
</div>