div.outer {
  display: flex;
  flex-direction: row;
  /* border: 3px solid pink; */
  margin: 3px;
  justify-content: space-between;
  align-items: stretch;
}

div.left {
  display: flex;
  flex: 2 1 0;
  justify-content: flex-start;
  align-items: center;
  /* border: 3px solid skyblue; */
  margin: 3px;
}

div.right {
  display: flex;
  flex: 3 1 0;
  justify-content: flex-end;
  /* border: 3px solid olive; */
  margin: 3px;
}