<div class="outer">
  <div class="left">{{setting.name}}</div>
  <div class="right">
    <app-grader [(grade)]="setting.grade"
                [locked]="true"></app-grader>
    <div (click)="onClick()">
      <fa-icon [icon]="faRemove"></fa-icon>
    </div>
  </div>
</div>