div.outer {
  display: flex;
}

div.grade {
  display: flex;
  background-color: azure;
  color: darkgrey;
  justify-content: center;
  align-items: center;
  border: 1px solid darkgray;
  font-size: 16px;
  padding: 5px;
  margin: 0 8px;
  width: 30px;
  height: 30px;
}

div.grade:first-child {
  margin-left: 16px;
}

div.grade:last-child {
  margin-right: 16px;
}

div.selected {
  color: whitesmoke;
  background-color: cornflowerblue;
}