<h1>Hello, world of Cinode!</h1>

<app-assessment></app-assessment>

<style>
  app-assessment {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    padding: 10px;
    max-width: 600px;
  }
</style>